.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  transition: box-shadow 0.3s;
  background-color: white;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image-slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.product-image-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid #e0e0e0;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider-button:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.slider-button svg {
  width: 12px;
  height: 12px;
}

.slider-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.8); /* Cinza mais escuro */
  border: 1px solid #ffffff; /* Borda branca */
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.slider-dot.active {
  background-color: rgba(255, 255, 255, 0.8); /* Branco com opacidade */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Sombra leve para destaque */
}

.product-details {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 14px;
  margin: 0 0 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
}

.new-price {
  font-size: 18px; /* Tamanho da fonte */
  font-weight: bold;
  color: #333; /* Cor neutra e moderna */
  background: #f0f0f0; /* Fundo leve */
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.new-price::before {
  font-size: 14px; /* Tamanho do símbolo */
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666; /* Cor do símbolo */
}

.add-to-cart {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.add-to-cart:hover {
  background-color: #333;
}

.cart-icon {
  width: 18px;
  height: 18px;
}
